.is-style-grigora-heading-5 {
	position: relative;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-gap: 22px;
	align-items: center;

	&::after {
		position: static !important;
		bottom: auto !important;
		right: auto !important;
		left: auto !important;
	}

	&:after,
	&:before {
		content: " ";
		display: block;
		border-bottom: 2px solid #ccc;
		transform: translateY(-40%);
	}
}