@import "blocks/button";
@import "blocks/column";
@import "blocks/heading";
@import "blocks/separator";
@import "blocks/tag";
@import "blocks/file";
@import "blocks/latest-comments";
@import "blocks/latest-posts";
@import "blocks/post-title";
@import "blocks/quote";
@import "blocks/list";
@import "blocks/search";
@import "blocks/pagination";
@import "blocks/list";
@import "blocks/navigation";
@import "blocks/post-author";
@import "hero/hero";

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.wp-block-navigation__submenu-container .wp-block-navigation__submenu-icon {
	margin-right: 1rem;
}

.wp-block-cover.has-background-dim.alignleft {
	margin-right: 1rem !important;
}

.wp-caption.alignleft {
	margin-right: 1rem !important;
}

pre {
	white-space: pre-wrap;
}

.wp-block-post-comments .comment-meta {
	margin-left: 0;
}

.wp-block-column{
	h1,h2,h3,h4,h5,h6,p{
		margin: 0;
	}
}

.grigora_absolute{
	position: absolute;
	width: 100%;
	z-index: 2;
}

.grigora_align_top{
	align-items: flex-start;
}

fieldset{
	input, select, textarea {
		padding: 0.5rem;
		font-size: 100%;
		border: 1px solid #aaaaaa;
		width: -webkit-fill-available;
	}

	input.radio, input.checkbox {
		width: auto;
	}

	.button{
		color: #fff;
		border: none;
		padding: 0.5rem 5rem;
		margin: 0 auto;
		background-color: #3fdb4f !important;
		transition: 0.3s all ease-out;

		&:hover{
			filter: brightness(0.8);
		}
	}
}



/*
Sticky button is experimental, only use it on the front for screens above 782px width.
*/
@media screen and (min-width: 782px) {
	.is-style-grigora-sticky .wp-block-navigation__responsive-container-open {
		position: fixed;
		top: 2em;
		right: 2em;
	}

	/* Move the sticky position down to adjust for the WordPress admin bar */
	.admin-bar
		.is-style-grigora-sticky
		.wp-block-navigation__responsive-container-open {
		top: calc(2em + 32px);
	}
}

.main-body {
	margin-top: 0px;
	padding: 0px;
}

@media screen and (max-width: 600px) {
	.main-primary {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.grigora-sidebar {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
}

.wp-block-column:first-child .grigora-sidebar {
	padding-right: 30px;
}

.wp-block-column:last-child .grigora-sidebar {
	padding-left: 30px;
}

@media screen and (max-width: 768px) {
	.wp-block-column:first-child .grigora-sidebar {
		padding-right: 0px;
	}

	.wp-block-column:last-child .grigora-sidebar {
		padding-left: 0px;
	}
}

h2 a {
	text-decoration: none;
}

.wp-block-post-excerpt__more-link {
	display: block;
	background-color: var(--wp--preset--color--button);
	color: var(--wp--preset--color--buttontext);
	text-align: center;
	margin-top: 10px;
	padding: 5px 0px;
	border-radius: 3px;
}

.wp-block-post-excerpt__more-link:hover {
	filter: brightness(94%);
}

figure {
	max-width: 100% !important;
}

.post-navigation-link-previous a::before {
	content: "← \00a0";
	display: inline-block;
}

.post-navigation-link-next a::after {
	content: "\00a0 →";
	display: inline-block;
}

.grigora-comment-box {
	padding: 3%;
	padding-bottom: 4%;
}

.grigora-archive-query ul li:last-child hr:last-child {
	display: none;
}