<!-- wp:template-part {"slug":"transparent-header","theme":"grigora-blocks"} /-->

<!-- wp:group {"tagName":"main","backgroundColor":"canvas","className":"main-body","layout":{"inherit":true}} -->
<main class="wp-block-group main-body has-canvas-background-color has-background"><!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"top":"4%","bottom":"4%","right":"2%","left":"2%"}}},"className":"main-container"} -->
<div class="wp-block-columns alignwide main-container" style="padding-top:4%;padding-right:2%;padding-bottom:4%;padding-left:2%"><!-- wp:column {"width":"100%","className":"main-primary"} -->
<div class="wp-block-column main-primary" style="flex-basis:100%"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3%","right":"3%","bottom":"4%","left":"3%"}}}} -->
<div class="wp-block-group" style="padding-top:3%;padding-right:3%;padding-bottom:4%;padding-left:3%"><!-- wp:post-title {"className":"is-style-default","fontSize":"large"} /-->

<!-- wp:post-featured-image /-->

<!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group"><!-- wp:post-author {"showAvatar":false} /-->

<!-- wp:post-date /-->

<!-- wp:post-terms {"term":"category"} /--></div>
<!-- /wp:group -->

<!-- wp:separator {"opacity":"css","backgroundColor":"secondary","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-secondary-color has-css-opacity has-secondary-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-content {"align":"full","layout":{"inherit":false}} /-->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:columns {"style":{"spacing":{"padding":{"top":"10px","right":"10px","bottom":"10px","left":"10px"},"margin":{"top":"10px","bottom":"10px"}}}} -->
<div class="wp-block-columns" style="margin-top:10px;margin-bottom:10px;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:post-navigation-link {"type":"previous","showTitle":true} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:post-navigation-link {"textAlign":"right","showTitle":true} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"3%","right":"3%","bottom":"4%","left":"3%"}}},"backgroundColor":"background"} -->
<div class="wp-block-group has-background-background-color has-background" style="padding-top:3%;padding-right:3%;padding-bottom:4%;padding-left:3%"><!-- wp:post-author {"textAlign":"left","avatarSize":96,"showBio":true,"byline":"Written by","textColor":"foreground","className":"is-style-grigora-post-author-style-1","fontSize":"medium"} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-comments {"className":"grigora-comment-box wp-block-group"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"grigora-blocks","tagName":"footer","align":"full","className":"site-footer"} /-->