a{
    text-decoration: none;
}

.meta-flex {
    display: flex;
}

.demo-template-1 {
    margin-top: var( --wp--style--block-gap ) !important;

    .query-img {
        img{
            width: 385px;
            border-radius: 20px;
        }
    }
    
    .wp-block-post-terms {
        a{
            text-decoration: none;
        }
    }

    time{
        &::before {
            content: '-';
            margin: auto 5px;
        }
    }

    .wp-block-post-excerpt__excerpt{
        margin: 0;
    }

    .wp-block-post-author__avatar{
        img{
            border-radius: 50%;
        }
    }

    .attachment-post-thumbnail{
        border-radius: 20px;
    }   
}

.category-column{
    .mb-0{
        margin: 0;
    }

    .wp-block-post-title{
        margin-top: 0;
        margin-bottom: .5rem;
    }
}

.demo-template-footer-1{
    .wp-block-social-link {
        background-color: #ccc !important;
        border-radius: 12px;
    }

    .wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor{
        color: #222222;
    }

    a{
        color: currentColor;
        text-decoration: none;
        border-bottom: 3px solid #f799181a;
        transition: .3s all ease;

        &:hover {
            border-bottom: 3px solid #f79918;
            transition: .3s all ease;
        }
    }
}

.demo-1-single-page {

    .wp-block-post-author{
        display: flex;
        flex-direction: column;
        align-items: center;

        .wp-block-post-author__avatar{
            margin-right: 0;
        }
    }

    .wp-block-post-author__byline, .wp-block-post-author__bio{
        display: none;
    }

    .wp-block-post-author__name{
        text-transform: capitalize;
    }

    .wp-block-post-date{
        text-align: center;
        text-transform: uppercase;
        margin-top: 0;
    }

    .wp-block-post-title{
        text-align: center;
    }
  
}

.demo-1-template-header {
    .wp-block-search__input {
        line-height: normal;
    }

    .wp-block-social-link{
        background-color: transparent !important;

        svg {
            color: #222 !important;
        }
    }

    .order-3 {
        @media (max-width:768px){
            order: 3;
        }
    }

    .m-view{
        @media(max-width:768px){
            display: flex;
            flex-wrap: nowrap;
        }
    }

    .wp-container-3{
        @media (max-width:768px) {
            justify-content: flex-end;
        }
    }

    .wp-block-search__inside-wrapper{
        @media (max-width:768px){
            width: 100% !important;
        }
    }
}