.is-style-grigora-shape-divider-1 {
    position: relative;

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 200px;
        background-image: url('data:image/svg+xml; utf8, <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" fill="white"></path>
    </svg>');
    }
}

.is-style-grigora-shape-divider-2 {
    position: relative;

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 90px;
        background-image: url('data:image/svg+xml; utf8, <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" fill="white"></path>
    </svg>');

        @media(max-width:768px){
            height: 30px;
        }
    }
}

.is-style-grigora-shape-divider-3 {
    position: relative;

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 90px;
        background-image: url('data:image/svg+xml; utf8, <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" fill="white"></path>
    </svg>');

        @media(max-width:768px){
            height: 30px;
        }
    }
}

.is-style-grigora-shape-divider-4 {
    position: relative;

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 90px;
        background-image: url('data:image/svg+xml; utf8, <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" fill="white"></path>
    </svg>');

        @media(max-width:768px){
            height: 30px;
        }
    }
}

.is-style-grigora-shape-divider-5 {
    position: relative;

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 90px;
        background-image: url('data:image/svg+xml; utf8, <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M602.45,3.86h0S572.9,116.24,281.94,120H923C632,116.24,602.45,3.86,602.45,3.86Z" fill="white"></path>
    </svg>');

        @media(max-width:768px){
            height: 30px;
        }
    }
}

.is-style-grigora-shape-divider-6 {
    position: relative;

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 90px;
        background-image: url('data:image/svg+xml; utf8, <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M600,16.8c0-8.11-8.88-13.2-19.92-13.2H0V120H1200V3.6H619.92C608.88,3.6,600,8.66,600,16.8Z" fill="white"></path>
    </svg>');

        @media(max-width:768px){
            height: 30px;
        }
    }
}

.is-style-grigora-shape-divider-7 {
    position: relative;

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 90px;
        background-image: url('data:image/svg+xml; utf8,  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M741,116.23C291,117.43,0,27.57,0,6V120H1200V6C1200,27.93,1186.4,119.83,741,116.23Z" fill="white"></path>
    </svg>');

        @media(max-width:768px){
            height: 30px;
        }
    }
}


.is-style-grigora-shape-divider-8 {
    position: relative;

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 90px;
        background-image: url('data:image/svg+xml; utf8, <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" fill="white"></path>
        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" fill="white"></path>
        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" fill="white"></path>
    </svg>');

        @media(max-width:768px){
            height: 30px;
        }
    }
}