.is-style-grigora-shape-divider-1 {
    position: relative;

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 200px;
        background-image: url('data:image/svg+xml; utf8, <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" fill="white"></path>
    </svg>');
    }
}

.is-style-grigora-shape-divider-2 {
    position: relative;

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 90px;
        background-image: url('data:image/svg+xml; utf8, <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" fill="white"></path>
    </svg>');

        @media(max-width:768px){
            height: 30px;
        }
    }
}

.is-style-grigora-shape-divider-3 {
    position: relative;

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 90px;
        background-image: url('data:image/svg+xml; utf8, <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" fill="white"></path>
    </svg>');

        @media(max-width:768px){
            height: 30px;
        }
    }
}

.is-style-grigora-shape-divider-4 {
    position: relative;

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 90px;
        background-image: url('data:image/svg+xml; utf8, <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" fill="white"></path>
    </svg>');

        @media(max-width:768px){
            height: 30px;
        }
    }
}


.is-style-grigora-shape-divider-5 {
    position: relative;

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 90px;
        background-image: url('data:image/svg+xml; utf8, <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M602.45,3.86h0S572.9,116.24,281.94,120H923C632,116.24,602.45,3.86,602.45,3.86Z" fill="white"></path>
    </svg>');

        @media(max-width:768px){
            height: 30px;
        }
    }
}