@charset "UTF-8";
.wp-block-quote.is-style-grigora-quote-quotation-marks {
  position: relative;
  text-align: center;
  padding: 1rem 1.2rem;
  width: 80%; /* create space for the quotes */
  color: #484748;
  margin: 1rem auto 2rem;
}

.wp-block-quote.is-style-grigora-quote-quotation-marks {
  background: linear-gradient(to right, #039be5 4px, transparent 4px) 0 100%, linear-gradient(to left, #039be5 4px, transparent 4px) 100% 0, linear-gradient(to bottom, #039be5 4px, transparent 4px) 100% 0, linear-gradient(to top, #039be5 4px, transparent 4px) 0 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.wp-block-quote.is-style-grigora-quote-quotation-marks:before,
.wp-block-quote.is-style-grigora-quote-quotation-marks:after {
  font-family: FontAwesome;
  position: absolute;
  color: #039be5;
  font-size: 4rem;
}

.wp-block-quote.is-style-grigora-quote-quotation-marks:before {
  content: "“";
  top: -12px;
  margin-right: -20px;
  right: 100%;
}

.wp-block-quote.is-style-grigora-quote-quotation-marks:after {
  content: "”";
  margin-left: -20px;
  left: 100%;
  top: auto;
  font-weight: 700;
}