@charset "UTF-8";
.wp-block-quote.is-style-grigora-quote-quotation-mark-3 {
  position: relative;
  padding: 1rem 1.2rem;
  width: 80%;
  /* create space for the quotes */
  color: #484748;
  margin: 1rem auto 2rem;
  border-left: 5px solid #039be5;
}
.wp-block-quote.is-style-grigora-quote-quotation-mark-3 p {
  position: relative;
  display: inline;
  margin-left: 2rem;
}
.wp-block-quote.is-style-grigora-quote-quotation-mark-3 cite {
  position: relative;
  margin-left: 1rem;
}
.wp-block-quote.is-style-grigora-quote-quotation-mark-3 cite::before {
  content: "―" " ";
}

.wp-block-quote.is-style-grigora-quote-quotation-mark-3:before,
.wp-block-quote.is-style-grigora-quote-quotation-mark-3:after {
  content: none;
}

.wp-block-quote.is-style-grigora-quote-quotation-mark-3 p:before,
.wp-block-quote.is-style-grigora-quote-quotation-mark-3 cite:after {
  font-family: FontAwesome;
  position: absolute;
  color: #039be5;
  font-size: 3rem;
}

.wp-block-quote.is-style-grigora-quote-quotation-mark-3 p:before {
  content: "”";
  top: -20px;
  right: 100%;
}

.wp-block-quote.is-style-grigora-quote-quotation-mark-3 cite:after {
  content: "“";
  margin-left: 5px;
  top: 10px;
}