.grigora-settings-webfonts-new-btn {
  display: flex;
  margin: 10px auto;
}

.fonts-variant-notice {
  color: #41739c;
  background-color: #e4f3ff;
  border-left: 5px solid #c6e3fb;
  padding: 15px;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 20px;
}