@charset "UTF-8";
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
address,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

progress {
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.wp-block-post-featured-image {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dd,
fieldset legend,
blockquote,
pre,
hr,
address,
table {
  margin-bottom: 1rem;
}

ul,
ol {
  margin: 0 0 1rem 3rem;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

ul.wp-block-post-template,
ol.wp-block-post-template {
  margin: 0 0 0rem 0rem;
}

li > ul.wp-block-post-template,
li > ol.wp-block-post-template {
  margin-bottom: 0;
  margin-left: 0em;
}

pre {
  white-space: pre-wrap;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  overflow: auto;
  max-width: 100%;
}

blockquote, .wp-block-quote {
  border-left: 0;
  position: relative;
  border: none;
  padding-left: 0;
  quotes: initial;
}
blockquote p, blockquote cite, .wp-block-quote p, .wp-block-quote cite {
  margin-left: 4rem;
}
blockquote cite, .wp-block-quote cite {
  color: var(--wp--preset--color--primary);
}
blockquote:before, .wp-block-quote:before {
  content: "“";
  position: absolute;
  font-size: 4rem;
  line-height: 1;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  color: var(--wp--preset--color--primary);
}
blockquote.has-text-align-right p::before, .wp-block-quote.has-text-align-right p::before {
  content: "“";
  position: absolute;
  font-size: 4rem;
  line-height: 1;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  color: var(--wp--preset--color--primary);
}
blockquote.has-text-align-center::before, .wp-block-quote.has-text-align-center::before {
  content: " ";
}
blockquote.has-text-align-right::before, .wp-block-quote.has-text-align-right::before {
  content: " ";
}
blockquote.has-text-align-right, .wp-block-quote.has-text-align-right {
  border: none;
}
blockquote.has-text-align-right p::before, .wp-block-quote.has-text-align-right p::before {
  margin-left: -4rem;
}

.wp-block-post-comments .commentlist .comment blockquote p, .wp-block-post-comments .commentlist .comment .wp-block-quote p {
  margin-left: 4rem !important;
}

.wp-block-table, table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.5em;
}
.wp-block-table td,
.wp-block-table th, table td,
table th {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.wp-block-table th,
.wp-block-table td, table th,
table td {
  padding: 0.75rem;
}

hr, .wp-block-separator {
  border: none;
  border-bottom: 2px solid;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.4;
  margin-top: 2rem;
}

fieldset {
  padding: 0;
  border: 0;
  min-width: inherit;
}
fieldset legend {
  padding: 0;
  margin-bottom: 1.5em;
}

h1 {
  font-size: 2.625rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

img {
  height: auto;
  max-width: 100%;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  color: var(--wp--preset--color--buttontext);
  background-color: var(--wp--preset--color--button);
  padding: 17px 30px 17px 30px;
  margin: 0;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 2px;
  vertical-align: baseline;
  -webkit-appearance: button;
  cursor: pointer;
  transition: 0.2s ease;
}
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  filter: brightness(1.125);
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=tel],
input[type=number],
textarea,
select {
  color: var(--wp--preset--color--foreground);
  padding: 0.75em;
  height: auto;
  border: 1px solid var(--wp--preset--color--foreground);
  border-radius: 2px;
  box-shadow: none;
  transition: all 0.2s linear;
  max-width: 100%;
}

textarea {
  width: 100%;
}

.wpforms-container .wpforms-submit-container, .wpforms-container .wpforms-field {
  position: inherit !important;
}

.wp-block-button__link {
  box-shadow: var(--wp--custom--small-button-shadow);
}

.wp-block-button__link:focus,
.wp-block-button__link:hover {
  color: var(--wp--preset--color--buttontext);
  filter: brightness(94%) !important;
  box-shadow: var(--wp--custom--small-button-shadow);
}

.wp-block-button__link:active {
  border-color: var(--wp--custom--button-border-color);
  box-shadow: var(--wp--custom--button-highlight);
  color: var(--wp--preset--color--buttontext);
  filter: brightness(93%) !important;
  margin-top: 1px;
  margin-bottom: -1px;
}

.wp-block-button__link:visited {
  background-color: initial;
  border-color: var(--wp--custom--button-border-color);
  color: var(--wp--preset--color--buttontext);
  box-shadow: var(--wp--custom--small-button-shadow);
}

/* The padding in theme.json is not applied to the outlined button,
 so it is added manually */
.is-style-outline > .wp-block-button__link,
.wp-block-button__link.is-style-outline {
  padding: var(--wp--custom--button-padding);
}

/* Match the editor */
.wp-block-buttons > .wp-block-button {
  margin-top: 0.5em;
}

.wp-block-button__link svg {
  vertical-align: middle;
  fill: currentcolor;
}

.wp-block-file .wp-block-file__button {
  font-size: var(--wp--preset--font-size--small);
  font-family: var(--wp--preset--font-family--system);
  line-height: 1.7;
  border: 2px solid var(--wp--custom--button-border-color);
  padding: var(--wp--custom--button-padding);
  border-radius: var(--wp--custom--button-border-radius);
  background: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--foreground);
  box-shadow: var(--wp--custom--small-button-shadow);
}

.wp-block-file .wp-block-file__button:focus,
.wp-block-file .wp-block-file__button:hover {
  color: var(--wp--preset--color--background);
  filter: brightness(94%) !important;
  box-shadow: var(--wp--custom--small-button-shadow);
}

.wp-block-file .wp-block-file__button:active {
  border-color: var(--wp--custom--button-border-color);
  box-shadow: var(--wp--custom--button-highlight);
  color: var(--wp--preset--color--foreground);
  filter: brightness(93%) !important;
  margin-top: 1px;
  margin-bottom: -1px;
}

.wp-block-file .wp-block-file__button:visited {
  background-color: initial;
  border-color: var(--wp--custom--button-border-color);
  color: var(--wp--preset--color--foreground);
  box-shadow: var(--wp--custom--small-button-shadow);
}

/* These are inner elements of blocks that can't be targetted using theme.json*/
/* Override the default line height which is too small. */
.wp-block-latest-comments__comment {
  line-height: 1.5;
}

/* Match the default color of the post. */
.wp-block-latest-comments__comment-date {
  color: var(--wp--preset--color--primary);
  font-size: var(--wp--preset--font-size--small);
}

/* Override the line height and font size which are too small. */
.wp-block-latest-comments__comment-excerpt p {
  font-size: var(--wp--preset--font-size--medium);
  line-height: initial;
  margin-top: calc(0.5 * var(--wp--custom--v-spacing));
  margin-bottom: var(--wp--custom--v-spacing);
}

/* These are inner elements of blocks that can't be targetted using theme.json*/
/*
* Without this spacing, the list items are very close if there is no excerpt,
* which makes them more difficult to read.
*/
.wp-block-latest-posts.wp-block-latest-posts__list li {
  margin-bottom: var(--wp--custom--v-spacing);
}

/* Match the default color and font size of the posts */
.wp-block-latest-posts__post-author,
.wp-block-latest-posts__post-date {
  color: var(--wp--preset--color--primary);
  font-size: var(--wp--preset--font-size--extra-small);
}

@media (max-width: 768px) {
  .grigora-testimonial {
    margin-bottom: 1rem;
  }
}
.grigora-testimonial .wp-block-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.grigora-testimonial .wp-block-quote p, .grigora-testimonial .wp-block-quote cite {
  margin-left: 0;
}
.grigora-testimonial .wp-block-quote p {
  color: #fff;
  text-align: center;
  font-style: italic;
  line-height: 1.2;
  font-weight: 500;
}
.grigora-testimonial .wp-block-quote cite {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}
.grigora-testimonial .wp-block-quote::before {
  color: #fff !important;
  font-size: 7rem;
  line-height: 0;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .grigora-testimonial-2 {
    margin-bottom: 1rem;
  }
}
.grigora-testimonial-2 .wp-block-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.grigora-testimonial-2 .wp-block-quote p, .grigora-testimonial-2 .wp-block-quote cite {
  margin-left: 0;
}
.grigora-testimonial-2 .wp-block-quote p {
  color: #9e9e9e;
  text-align: center;
  font-style: italic;
  line-height: 1.2;
}
.grigora-testimonial-2 .wp-block-quote cite {
  color: #3c3c3c;
  text-transform: uppercase;
  font-weight: 500;
}
.grigora-testimonial-2 .wp-block-quote::before {
  text-align: center;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
  color: #d2652d;
  font-size: 5rem;
  font-style: normal;
  top: -80px;
  left: 50%;
  height: 60px;
  position: absolute;
  width: 60px;
}
.grigora-testimonial-2 .p-3 {
  padding: 3rem;
}
.grigora-testimonial-2 .mb-0 {
  margin-bottom: 0;
}
.grigora-testimonial-2 .bt-5 {
  border-top: 5px solid #d2652d;
}
.grigora-testimonial-2 h2, .grigora-testimonial-2 h3 {
  margin: 0;
}

.grigora-testimonial-4 .background-image {
  background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1019607843) 100%);
}
@media (max-width: 768px) {
  .grigora-testimonial-4 .background-image {
    margin-bottom: 1rem;
  }
}
.grigora-testimonial-4 figure {
  border-radius: inherit;
}
.grigora-testimonial-4 h2, .grigora-testimonial-4 h4 {
  margin: 0;
}
.grigora-testimonial-4 h4 {
  color: #a6a6a6 !important;
}
.grigora-testimonial-4 img {
  object-fit: cover;
}
.grigora-testimonial-4 .wp-block-quote {
  padding: 1rem;
  margin: 1rem 0 0 0;
  background-color: #fff;
  border-radius: 5px;
}
.grigora-testimonial-4 .wp-block-quote p {
  color: #000;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
.grigora-testimonial-4 .wp-block-quote::before {
  top: 7px;
  color: #000 !important;
  opacity: 0.25;
}

.grigora-testimonial-5 h5 {
  margin: 0;
}
@media (max-width: 768px) {
  .grigora-testimonial-5 h5 {
    text-align: center;
  }
}
.grigora-testimonial-5 .wp-block-quote {
  padding: 1rem;
  margin: 0 0 1rem 0;
  background-color: #fff;
  border-radius: 5px;
}
.grigora-testimonial-5 .wp-block-quote p {
  color: #000;
  margin: 2rem;
}
.grigora-testimonial-5 .wp-block-quote::before {
  top: 7px;
  color: #000 !important;
  opacity: 0.25;
}
.grigora-testimonial-5 .wp-block-quote::after {
  content: "”";
  position: absolute;
  left: 100%;
  font-size: 4rem;
  line-height: 1;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  color: #000 !important;
  opacity: 0.25;
  margin-left: -50px;
  bottom: -20px;
}
.grigora-testimonial-5 .wp-block-quote .wp-block-quote.is-style-grigora-quote-quotation-marks {
  background: none;
}
.grigora-testimonial-5 .mb-1 {
  margin-bottom: 1rem;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.wp-block-navigation-submenu .wp-block-navigation__submenu-icon {
  margin-right: 0.25em;
}

.wp-block-cover.has-background-dim.alignleft {
  margin-right: 1rem !important;
}

.wp-caption.alignleft {
  margin-right: 1rem !important;
}

.grigora_absolute {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.grigora_align_top {
  align-items: flex-start;
}

fieldset input, fieldset select, fieldset textarea {
  padding: 0.5rem;
  font-size: 100%;
  border: 1px solid #aaaaaa;
  width: -webkit-fill-available;
}
fieldset input.radio, fieldset input.checkbox {
  width: auto;
}
fieldset button {
  color: #fff;
  border: none;
  padding: 0.5rem 5rem;
  margin: 0 auto;
  background-color: #3fdb4f !important;
  transition: 0.3s all ease-out;
  width: auto;
}
fieldset button:hover {
  filter: brightness(0.8);
}

/*
Sticky button is experimental, only use it on the front for screens above 782px width.
*/
@media screen and (min-width: 782px) {
  .is-style-grigora-sticky .wp-block-navigation__responsive-container-open {
    position: fixed;
    top: 2em;
    right: 2em;
  }

  /* Move the sticky position down to adjust for the WordPress admin bar */
  .admin-bar .is-style-grigora-sticky .wp-block-navigation__responsive-container-open {
    top: calc(2em + 32px);
  }
}
.main-body {
  margin-top: 0px;
  padding: 0px;
}

.wp-block-post-excerpt__more-link {
  display: block;
  background-color: var(--wp--preset--color--button);
  color: var(--wp--preset--color--buttontext);
  text-align: center;
  margin-top: 10px;
  padding: 5px 0px;
  border-radius: 3px;
}

.wp-block-post-excerpt__more-link:hover {
  filter: brightness(94%);
}

figure {
  max-width: 100% !important;
}

.post-navigation-link-previous a::before {
  content: "←  ";
  display: inline-block;
}

.post-navigation-link-next a::after {
  content: " →";
  display: inline-block;
}

.grigora-comment-box {
  padding: 3%;
  padding-bottom: 4%;
}

.grigora-archive-query ul li:last-child hr:last-child {
  display: none;
}

.wp-block-post-comments .trackback .comment-meta, .wp-block-post-comments .pingback .comment-meta {
  margin-left: 0em;
}

.grigora-comment-box:empty {
  display: none;
}