.grg_footer-1{
    h2{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h5{
        margin-bottom: 0;
    }

    p{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .wp-block-button__link{
        box-shadow: none;
    }

    .wp-block-button__link{
        border-width: 0;
        border-style: none;
    }

    ul{
        list-style: none;
        padding-left: 0;
    }

    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column{
        flex-basis: auto;
    }

    .column-2{
        column-count: 2;
    }
}

.mb-0{
    margin-bottom: 0;
}

.grg_footer_3{
    p,li,a {
        color: #ffffff80;
    }

    time{
        color: #27ae60;
    }

    li{ 
        a{
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    .li-style{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        gap: .2rem;

        a{           
            display: block;
            text-decoration: none;
            border: 1px solid #333;
            padding: .2rem 0.5rem;
            border-radius: 5px;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    .wp-block-tag-cloud{ 
        a {
            font-size: 1rem !important;

            &:hover{
                text-decoration: underline;
            }
        } 
    }

}
