.grg_footer-1{
    h2{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h5{
        margin-bottom: 0;
    }

    p{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .wp-block-button__link{
        box-shadow: none;
    }

    .wp-block-button__link{
        border-width: 0;
        border-style: none;
    }

    ul{
        list-style: none;
        padding-left: 0;
    }

    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column{
        flex-basis: auto;
    }

    .column-2{
        column-count: 2;
    }
}

.mb-0{
    margin-bottom: 0;
}

.grg_footer_3{
    p,li,a {
        color: #ffffff80;
    }

    time{
        color: #27ae60;
    }

    li{ 
        a{
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    .li-style{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        gap: .2rem;

        a{           
            display: block;
            text-decoration: none;
            border: 1px solid #333;
            padding: .2rem 0.5rem;
            border-radius: 5px;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    .wp-block-tag-cloud{ 
        a {
            font-size: 1rem !important;

            &:hover{
                text-decoration: underline;
            }
        } 
    }

}

.grg_footer_4{
    .grg_popular, .grg_featured {
        a{
            text-decoration: none;
            color: #aaaaaa;

            &:hover{
                color:#ffa301;
            }
        }

        time{ color: #888888; }
    }

    .wp-block-navigation__responsive-container {
        font-size: 14px;
        padding: 1rem;
    }
}

.grg_footer_5 {
    ul{
        list-style: none;
        padding-left: 0;

        li{
            a{
                text-decoration: none;
                text-transform: uppercase;
                color: currentColor;
                padding: 4px 0px 4px 0px;
                transition: all 0.2s ease-in-out;
                font-weight: bold;

                &:hover{
                    color:#000;
                    padding: 4px 10px 4px 20px;
                    background-color: #fff;
                }
            }
        }
    }

    .wp-block-navigation {
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0;

            a{
                text-decoration: none;
                color: currentColor;
                padding: 4px 0px 4px 0px;
                transition: all 0.2s ease-in-out;
    
                &:hover{
                    color:#000;
                    padding: 4px 10px 4px 20px;
                    background-color: #fff;
                }
            }
        }
    }
}

.grg_footer_6 {
    .bb-1{
        border-bottom: 1px dotted #aaaaaa;
        border-width: 0px 0px 2px 0px;
    }

    .br-1{
        border-right: 1px dotted #aaaaaa !important;
        border-width: 0px 0px 2px 0px;
    }

    .wp-block-navigation__container{
        li{
            &:last-child{
                color: #ef6421;
            }
        }
    }
}

.grg_footer_7 {
    .wp-block-navigation__container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;

        li{
            font-size: 14px;
            font-weight: bold;
        }
    }

    .wp-block-latest-posts__list{
        li{
            font-size: 15px;
            margin-bottom: 0;
            border-bottom: 1px solid #aaaaaa;
            font-weight: bold;

            &:last-child{
                border-bottom: none;
            }
        }
    }

    a{
        text-decoration: none;
        color: currentColor;

        &:hover{
            color: #309b65;
        }
    }

    .hr-menu{
        .wp-block-navigation__container{
            flex-direction: row;
            gap: 1rem;
        }
    }

    .br-1{
        border-right: 1px solid #aaaaaa;
        padding-right: 1rem;

        @media (max-width:768px) {
            border:none;        
            padding-right: 0;
        }
    }

    .wp-social-link{
        background-color: #000 !important;
        border-radius: 0 !important;
    }

}