.is-style-grigora-button-effect-1 .wp-block-button__link {
  color: currentColor;
  position: relative;
  transition: all 0.3s;
  background-color: transparent;
  box-shadow: none;
  border-style: none;
  z-index: 2;
}
.is-style-grigora-button-effect-1 .wp-block-button__link:hover {
  color: var(--wp--preset--color--buttontext);
}
.is-style-grigora-button-effect-1 .wp-block-button__link:before, .is-style-grigora-button-effect-1 .wp-block-button__link:after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.is-style-grigora-button-effect-1 .wp-block-button__link:before {
  left: 0;
  z-index: -1;
  opacity: 0;
  background: var(--wp--preset--color--button);
  transform: scale(0.1, 1);
}
.is-style-grigora-button-effect-1 .wp-block-button__link:after {
  transition: all 0.3s;
  border: 1px solid currentColor;
}
.is-style-grigora-button-effect-1 .wp-block-button__link:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.is-style-grigora-button-effect-1 .wp-block-button__link:hover::after {
  transform: scale(1, 0.1);
  opacity: 0;
}