.is-style-grigora-flat-outline .wp-block-button__link,
.is-style-grigora-flat-outline .wp-block-button__link:active,
.is-style-grigora-flat-outline .wp-block-button__link:focus,
.is-style-grigora-flat-outline .wp-block-button__link:hover,
.is-style-grigora-flat-outline .wp-block-button__link:visited {
  color: var(--wp--preset--color--buttontext);
  background-color: var(--wp--preset--color--button);
  border: 1px solid currentColor;
  border-radius: 0;
}