<!-- wp:group {"align":"full","layout":{"inherit":false}} -->
<div class="wp-block-group alignfull">
	<!-- wp:group {"align":"full","style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}},"backgroundColor":"background","textColor":"foreground","layout":{"inherit":false,"contentSize":"1110px"}} -->
	<div
		class="wp-block-group alignfull has-foreground-color has-background-background-color has-text-color has-background has-link-color">
		<!-- wp:group {"style":{"spacing":{"padding":{"bottom":"10px"}}},"layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between"}} -->
		<div class="wp-block-group" style="padding-bottom:10px">
			<!-- wp:group -->
			<div class="wp-block-group">
				<!-- wp:paragraph -->
				<p>Copyright</p>
				<!-- /wp:paragraph -->
			</div>
			<!-- /wp:group -->

			<!-- wp:pattern {"slug":"grigora/builtwithgrigora"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->