.wp-block-button__link {
	box-shadow: var(--wp--custom--small-button-shadow);
}

.wp-block-button__link:focus,
.wp-block-button__link:hover {
	color: var(--wp--preset--color--buttontext);
	filter: brightness(94%) !important;
	box-shadow: var(--wp--custom--small-button-shadow);
}

.wp-block-button__link:active {
	border-color: var(--wp--custom--button-border-color);
	box-shadow: var(--wp--custom--button-highlight);
	color: var(--wp--preset--color--buttontext);
	filter: brightness(93%) !important;
	margin-top: 1px;
	margin-bottom: -1px;
}

.wp-block-button__link:visited {
	background-color: initial;
	border-color: var(--wp--custom--button-border-color);
	color: var(--wp--preset--color--buttontext);
	box-shadow: var(--wp--custom--small-button-shadow);
}

/* The padding in theme.json is not applied to the outlined button,
 so it is added manually */
.is-style-outline > .wp-block-button__link,
.wp-block-button__link.is-style-outline {
	padding: var(--wp--custom--button-padding);
}

/* Match the editor */
.wp-block-buttons > .wp-block-button {
	margin-top: 0.5em;
}

.wp-block-button__link svg {
	vertical-align: middle;
	fill: currentcolor;
}

.is-style-grigora-flat-button .wp-block-button__link,
.is-style-grigora-flat-button .wp-block-button__link:active,
.is-style-grigora-flat-button .wp-block-button__link:focus,
.is-style-grigora-flat-button .wp-block-button__link:hover,
.is-style-grigora-flat-button .wp-block-button__link:visited {
	box-shadow: none;
	border-radius: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.is-style-grigora-button-shadow .wp-block-button__link,
.is-style-grigora-button-shadow .wp-block-button__link:focus,
.is-style-grigora-button-shadow .wp-block-button__link:hover,
.is-style-grigora-button-shadow .wp-block-button__link:visited {
	box-shadow: var(--wp--custom--button-shadow);
}
.is-style-grigora-button-shadow .wp-block-button__link:active {
	box-shadow: var(--wp--custom--button-highlight);
}

.is-style-grigora-flat-outline .wp-block-button__link,
.is-style-grigora-flat-outline .wp-block-button__link:active,
.is-style-grigora-flat-outline .wp-block-button__link:focus,
.is-style-grigora-flat-outline .wp-block-button__link:hover,
.is-style-grigora-flat-outline .wp-block-button__link:visited {
	color: currentColor;
	background-color: transparent;
	border: 1px solid currentColor;
	border-radius: 0;
}

.is-style-grigora-flat-shadow .wp-block-button__link,
.is-style-grigora-flat-shadow .wp-block-button__link:active,
.is-style-grigora-flat-shadow .wp-block-button__link:focus,
.is-style-grigora-flat-shadow .wp-block-button__link:hover,
.is-style-grigora-flat-shadow .wp-block-button__link:visited {
	color: currentColor;
	background-color: transparent;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.is-style-grigora-button-rounded .wp-block-button__link{	
	border: none;
	border-radius: 10rem;
	transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #0cf;
		border-radius: 10rem;
		z-index: -2;
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: darken(#0cf, 15%);
		transition: all .3s;
		border-radius: 10rem;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		&:before {
			width: 100%;
		}
	}
}

.is-style-grigora-button-swipe-right .wp-block-button__link {
	position: relative;
	color: currentColor;
	background-color: transparent;
	border: 1px solid currentColor;
	border-radius: 0;
	z-index: 2;
	transition: all .35s;

	&:after{
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: #ff003b;
		transition: all .35s;
		z-index: -1;
	}

	&:hover{
		color: #fff;
		border: 1px solid #404040;
	}

	&:hover:after{
		width: 100%;
	}
}