.wp-block-button__link {
	box-shadow: var(--wp--custom--small-button-shadow);
}

.wp-block-button__link:focus,
.wp-block-button__link:hover {
	color: var(--wp--preset--color--buttontext);
	filter: brightness(94%) !important;
	box-shadow: var(--wp--custom--small-button-shadow);
}

.wp-block-button__link:active {
	border-color: var(--wp--custom--button-border-color);
	box-shadow: var(--wp--custom--button-highlight);
	color: var(--wp--preset--color--buttontext);
	filter: brightness(93%) !important;
	margin-top: 1px;
	margin-bottom: -1px;
}

.wp-block-button__link:visited {
	background-color: initial;
	border-color: var(--wp--custom--button-border-color);
	color: var(--wp--preset--color--buttontext);
	box-shadow: var(--wp--custom--small-button-shadow);
}

/* The padding in theme.json is not applied to the outlined button,
 so it is added manually */
.is-style-outline > .wp-block-button__link,
.wp-block-button__link.is-style-outline {
	padding: var(--wp--custom--button-padding);
}

/* Match the editor */
.wp-block-buttons > .wp-block-button {
	margin-top: 0.5em;
}

.wp-block-button__link svg {
	vertical-align: middle;
	fill: currentcolor;
}

.is-style-grigora-flat-button .wp-block-button__link,
.is-style-grigora-flat-button .wp-block-button__link:active,
.is-style-grigora-flat-button .wp-block-button__link:focus,
.is-style-grigora-flat-button .wp-block-button__link:hover,
.is-style-grigora-flat-button .wp-block-button__link:visited {
	box-shadow: none;
	border-radius: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.is-style-grigora-button-shadow .wp-block-button__link,
.is-style-grigora-button-shadow .wp-block-button__link:focus,
.is-style-grigora-button-shadow .wp-block-button__link:hover,
.is-style-grigora-button-shadow .wp-block-button__link:visited {
	box-shadow: var(--wp--custom--button-shadow);
}
.is-style-grigora-button-shadow .wp-block-button__link:active {
	box-shadow: var(--wp--custom--button-highlight);
}

.is-style-grigora-flat-outline .wp-block-button__link,
.is-style-grigora-flat-outline .wp-block-button__link:active,
.is-style-grigora-flat-outline .wp-block-button__link:focus,
.is-style-grigora-flat-outline .wp-block-button__link:hover,
.is-style-grigora-flat-outline .wp-block-button__link:visited {
	color: currentColor;
	background-color: transparent;
	border: 1px solid currentColor;
	border-radius: 0;
}

.is-style-grigora-flat-shadow .wp-block-button__link,
.is-style-grigora-flat-shadow .wp-block-button__link:active,
.is-style-grigora-flat-shadow .wp-block-button__link:focus,
.is-style-grigora-flat-shadow .wp-block-button__link:hover,
.is-style-grigora-flat-shadow .wp-block-button__link:visited {
	color: currentColor;
	background-color: transparent;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.is-style-grigora-button-rounded .wp-block-button__link {
	border: none;
	border-radius: 10rem;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #0cf;
		border-radius: 10rem;
		z-index: -2;
	}
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: darken(#0cf, 15%);
		transition: all 0.3s;
		border-radius: 10rem;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		&:before {
			width: 100%;
		}
	}
}

.is-style-grigora-button-swipe-right .wp-block-button__link {
	position: relative;
	color: currentColor;
	background-color: transparent;
	border: 1px solid currentColor;
	border-radius: 0;
	z-index: 2;
	transition: all 0.35s;

	&:after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: #ff003b;
		transition: all 0.35s;
		z-index: -1;
	}

	&:hover {
		color: #fff;
		border: 1px solid #404040;
	}

	&:hover:after {
		width: 100%;
	}
}

.is-style-grigora-button-diagonal-swipe .wp-block-button__link {
	position: relative;
	overflow: hidden;
	color: currentColor;
	background-color: transparent;
	border: 1px solid currentColor;
	border-radius: 0;
	transition: 0.5s ease-in-out;
	z-index: 2;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: -50px;
		bottom: 0;
		left: 0;
		border-right: 50px solid transparent;
		border-bottom: 80px solid #056d13;
		transform: translateX(-100%);
		transition: 0.5s ease-in-out;
		z-index: -1;
	}

	&:hover {
		color: #fff;
		border: 1px solid #404040;

		&:before {
			transform: translateX(0);
		}
	}
}

.is-style-grigora-button-effect-1 .wp-block-button__link {
	color: currentColor;
	position: relative;
	transition: all 0.3s;
	background-color: transparent;
	box-shadow: none;
	border-style: none;
	z-index: 2;

	&:hover {
		color: #fff;
	}

	&:before,
	&:after {
		content: "";
		position: absolute;
		transition: all 0.3s;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	&:before {
		left: 0;
		z-index: -1;
		opacity: 0;
		background: #5092d4;
		transform: scale(0.1, 1);
	}

	&:after {
		transition: all 0.3s;
		border: 1px solid currentColor;
	}

	&:hover::before {
		opacity: 1;
		transform: scale(1, 1);
	}

	&:hover::after {
		transform: scale(1, 0.1);
		opacity: 0;
	}
}


.is-style-grigora-button-effect-4 .wp-block-button__link::before,
.is-style-grigora-button-effect-4 .wp-block-button__link::after {
	content: "";
	position: absolute;
	transition: all 0.3s;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.is-style-grigora-button-effect-4 .wp-block-button__link {
	position: relative;
	color: currentColor;
	background-color: transparent;
	border: 1px solid currentColor;
	border-radius: 0;
	z-index: 2;

	&:before {
		content: "";
		transition: transform 0.15s, 0.15s border-radius 0.15s;
		opacity: 0;
		background: #ffffffb2;
		transform: scale(0.1, 0.1);
		border-radius: 50%;
	}

	&:hover:before {
		content: "";
		opacity: 1;
		transform: scale(1, 1);
		border-radius: 0;
	}

	&:after {
		content: "";
		transition: all 0.3s;
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	&:hover:after {
		content: "";
		opacity: 0;
	}
}

.is-style-grigora-button-effect-5 .wp-block-button__link,
.is-style-grigora-button-effect-5 .wp-block-button__link::after {
	background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
	border: 0;
	color: #fff;
	box-shadow: 6px 0px 0px #00e6f6;
	outline: transparent;
	position: relative;
}

$slice-0: inset(50% 50% 50% 50%);
$slice-1: inset(80% -6px 0 0);
$slice-2: inset(50% -6px 30% 0);
$slice-3: inset(10% -6px 85% 0);
$slice-4: inset(40% -6px 43% 0);
$slice-5: inset(80% -6px 5% 0);

.is-style-grigora-button-effect-5 .wp-block-button__link::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(
		45deg,
		transparent 3%,
		#00e6f6 3%,
		#00e6f6 5%,
		#ff013c 5%
	);
	text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
	clip-path: $slice-0;
}

.is-style-grigora-button-effect-5 .wp-block-button__link:hover::after {
	animation: 1s glitch;
	animation-timing-function: steps(2, end);
}

@keyframes glitch {
	0% {
		clip-path: $slice-1;
		transform: translate(-20px, -10px);
	}
	10% {
		clip-path: $slice-3;
		transform: translate(10px, 10px);
	}
	20% {
		clip-path: $slice-1;
		transform: translate(-10px, 10px);
	}
	30% {
		clip-path: $slice-3;
		transform: translate(0px, 5px);
	}
	40% {
		clip-path: $slice-2;
		transform: translate(-5px, 0px);
	}
	50% {
		clip-path: $slice-3;
		transform: translate(5px, 0px);
	}
	60% {
		clip-path: $slice-4;
		transform: translate(5px, 10px);
	}
	70% {
		clip-path: $slice-2;
		transform: translate(-10px, 10px);
	}
	80% {
		clip-path: $slice-5;
		transform: translate(20px, -10px);
	}
	90% {
		clip-path: $slice-1;
		transform: translate(-10px, 0px);
	}
	100% {
		clip-path: $slice-1;
		transform: translate(0);
	}
}
