.is-style-grigora-shadow{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.is-style-grigora-border{
    border: 1px solid gray;
}

.is-style-grigora-shadow-border{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid gray;
}

.is-style-grigora-border-rounded{
    border: 1px solid gray;
    border-radius: 4px;
}

.is-style-grigora-shadow-rounded{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);  
    border-radius: 4px;
}

.is-style-grigora-shadow-border-rounded{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid currentColor; 
    border-radius: 4px;
}