.is-style-hover-shadow{
    transition: .3s ease-in-out;
}

.is-style-hover-shadow:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.is-style-hover-elevate{
    transition: .3s ease-in-out;

    &:hover{
        transform: translateY(-10px);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.is-style-grigora-shadow-type-2{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}