.is-style-grigora-heading-1 {
	position: relative;
	text-align: center;
	padding-bottom: 5px;

	&:before {
		width: 28px;
		height: 5px;
		display: block;
		content: "";
		position: absolute;
		bottom: 3px;
		left: 50%;
		margin-left: -14px;
		background-color: #b80000;
	}

	&:after {
		width: 100px;
		height: 1px;
		display: block;
		content: "";
		position: relative;
		left: 50%;
		margin-left: -50px;
		background-color: #b80000;
	}
}

.is-style-grigora-heading-2 {
	position: relative;
	text-transform: capitalize;

	&:before {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 60px;
		height: 2px;
		content: "";
		background-color: #c50000;
	}
}

.is-style-grigora-heading-3 {
	position: relative;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		height: 5px;
		width: 55px;
		background-color: currentColor;
	}

	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: auto;
		bottom: 2px;
		height: 1px;
		width: 95%;
		max-width: 255px;
		background-color: currentColor;
	}
}

.is-style-grigora-heading-4 {
	position: relative;
	text-align: center;

	&:before {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 60px;
		height: 1px;
		content: "";
		left: 50%;
		margin-left: -30px;
		background-color: currentColor;
	}
}

.is-style-grigora-heading-5 {
	position: relative;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: 16px 0;
	grid-gap: 22px;

	&::after {
		position: static;
	}

	&:after,
	&:before {
		content: " ";
		display: block;
		border-bottom: 2px solid #ccc;
		top: 50%;
		transform: translateY(50%);
	}
}
