ul.is-style-grigora-no-marker-list,
ol.is-style-grigora-no-marker-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.is-style-grigora-no-marker-list li ul {
	margin-left: 1em;
}

.is-style-grigora-no-marker-list ul,
.is-style-grigora-no-marker-list ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.is-style-grigora-no-marker-list ul li ul {
	margin-left: 1em;
}

.is-style-grigora-ordered-list-style-1 {
	counter-reset: li;
	list-style: none;
	*list-style: decimal;
	padding: 0;
	margin-bottom: 4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

	ol {
		list-style: none;
	}

	li {
		position: relative;
		display: block;
		padding: 0.4em 0.4em 0.4em 2em;
		*padding: 0.4em;
		margin: 0.5em 0;
		background: #ddd;
		color: currentColor;
		text-decoration: none;
		border-radius: 0.3em;
		transition: all 0.3s ease-out;

		&:before {
			content: counter(li);
			counter-increment: li;
			position: absolute;
			left: -1.3em;
			top: 50%;
			margin-top: -1.3em;
			background: #87ceeb;
			height: 2em;
			width: 2em;
			line-height: 2em;
			border: 0.3em solid #fff;
			text-align: center;
			font-weight: bold;
			border-radius: 2em;
			transition: all 0.3s ease-out;
		}
	}
}

.is-style-grigora-ordered-list-style-2 {
	counter-reset: li;
	list-style: none;
	*list-style: decimal;
	padding: 0;
	margin-bottom: 4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

	ol {
		list-style: none;
	}

	li {
		position: relative;
		display: block;
		padding: 0.4em 0.4em 0.4em 0.8em;
		*padding: 0.4em;
		margin: 0.5em 0 0.5em 2.5em;
		background: #ddd;
		color: currentColor;
		text-decoration: none;
		transition: all 0.3s ease-out;

		&:before {
			content: counter(li);
			counter-increment: li;
			position: absolute;
			left: -2.5em;
			top: 50%;
			margin-top: -1em;
			background: #fa8072;
			height: 2em;
			width: 2em;
			line-height: 2em;
			text-align: center;
			font-weight: bold;
		}

		&:after {
			position: absolute;
			content: "";
			border: 0.5em solid transparent;
			left: -1em;
			top: 50%;
			margin-top: -0.5em;
			transition: all 0.3s ease-out;
		}
	}
}

.is-style-grigora-list-style-3 {
	list-style: none;

	ol,
	ul {
		list-style: none;
	}

	li {
		&::before {
			content: "";
			padding-left: 1.5rem;
			margin: 0.75rem auto;
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M8,0A8,8,0,1,1,0,8,8,8,0,0,1,8,0Zm3.67,7.45L7.3,3.08a.77.77,0,0,0-1.09,0h0l-.55.55a.77.77,0,0,0,0,1.09h0L8.94,8,5.66,11.28a.77.77,0,0,0,0,1.09h0l.55.55a.77.77,0,0,0,1.09,0h0l4.37-4.37a.77.77,0,0,0,0-1.09h0Z" fill="LightSeaGreen" opacity="0.8"/></svg>');
			background-repeat: no-repeat;
			background-size: 1rem 1rem;
			background-position-x: left;
			background-position-y: center;
		}
	}
}

.is-style-no-marker-no-underline-hovereffect{
	list-style: none;
	margin: 0;
	padding: 0;
}

.is-style-no-marker-no-underline-hovereffect a{
	text-decoration: none;
}

.is-style-no-marker-no-underline-hovereffect a:hover{
	color: var(--wp--preset--color--button)
}