.is-style-grigora-navigation-style-1{
    .wp-block-navigation:not([style*=text-decoration]) a:focus{
        color: #fff;
    }

    .wp-block-navigation__container{
        justify-content: center;

        li{ 
            padding: .5rem 1rem;
            transition: all .2s;
            border-radius: 4px;
            
            a{
                &:hover{
                    color: #fff;
                }
            }

            &:hover{
                background-color: #EC4138;

                a{
                    color: #fff;
                }

                svg{
                    stroke: #fff;
                    transform: rotate(180deg);
                }
            }

            .wp-block-navigation__submenu-container{
                li{
                    border-radius: 0;

                    a{
                        color: currentColor;

                        &:hover{
                            color: #fff;
                        }
                    }

                    &:hover{
                        a{
                            color: #fff;
                        }                      
                    }

                    svg{                         
                        transform: rotate(270deg);
                    }

                    .wp-block-navigation__submenu-container{
                        li{
                            border-radius: 0;
        
                            a{
                                color: currentColor;
        
                                &:hover{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.is-style-custom-link-button span{
    background-color: #41CD52;
    color: white;
    padding: 8px 20px 8px 20px !important;
    border-radius: 100px;
    -webkit-box-shadow: var(--wp--custom--button-shadow);
    box-shadow: var(--wp--custom--button-shadow);
    transition: all 0.3s ease 0s;
}

.is-style-custom-link-button span:hover{
    filter: brightness(94%) !important;
}