.is-style-grigora-navigation-style-1{
    .wp-block-navigation:not([style*=text-decoration]) a:focus{
        color: #fff;
    }

    .wp-block-navigation__container{
        justify-content: center;

        li{ 
            padding: .5rem 1rem;
            transition: all .2s;
            border-radius: 4px;
            
            a{
                &:hover{
                    color: #fff;
                }
            }

            &:hover{
                background-color: #EC4138;

                a{
                    color: #fff;
                }

                svg{
                    stroke: #fff;
                }
            }

            .wp-block-navigation__submenu-container{
                li{
                    border-radius: 0;

                    a{
                        color: currentColor;

                        &:hover{
                            color: #fff;
                        }
                    }

                    &:hover{
                        a{
                            color: #fff;
                        }
                    }

                    .wp-block-navigation__submenu-container{
                        li{
                            border-radius: 0;
        
                            a{
                                color: currentColor;
        
                                &:hover{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
