.is-style-grigora-query-pagination{
        .wp-block-query-pagination-next,
        .wp-block-query-pagination-previous{
            text-decoration: none;
            background-color: #eee;
            padding: .1rem .5rem;
            border-radius: 4px;
        }
}