.wp-block-quote {
	position: relative;
	border: none;
	padding-left: 0;
	quotes: initial;
}

.wp-block-quote p,
.wp-block-quote cite {
	margin-left: 4rem;
}

.wp-block-quote cite {
	color: var(--wp--preset--color--primary);
}

.wp-block-quote::before,
.wp-block-quote.has-text-align-right p::before {
	content: "\201C";
	position: absolute;
	font-size: 4rem;
	line-height: 1;
	font-family: "Times New Roman", Times, serif;
	font-weight: 700;
	color: var(--wp--preset--color--primary);
}

.wp-block-quote.has-text-align-center::before,
.wp-block-quote.has-text-align-right::before {
	content: " ";
}

.wp-block-quote.has-text-align-right {
	border: none;
}

.wp-block-quote.has-text-align-right p::before {
	margin-left: -4rem;
}

.wp-block-quote.is-style-grigora-quote-quotation-marks {
	position: relative;
	text-align: center;
	padding: 1rem 1.2rem;
	width: 80%; /* create space for the quotes */
	color: #484748;
	margin: 1rem auto 2rem;
}
.wp-block-quote.is-style-grigora-quote-quotation-marks {
	background: linear-gradient(to right, #039be5 4px, transparent 4px) 0 100%,
		linear-gradient(to left, #039be5 4px, transparent 4px) 100% 0,
		linear-gradient(to bottom, #039be5 4px, transparent 4px) 100% 0,
		linear-gradient(to top, #039be5 4px, transparent 4px) 0 100%;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}
.wp-block-quote.is-style-grigora-quote-quotation-marks:before,
.wp-block-quote.is-style-grigora-quote-quotation-marks:after {
	font-family: FontAwesome;
	position: absolute;
	color: #039be5;
	font-size: 4rem;
}
.wp-block-quote.is-style-grigora-quote-quotation-marks:before {
	content: "\201C";
	top: -12px;
	margin-right: -20px;
	right: 100%;
}
.wp-block-quote.is-style-grigora-quote-quotation-marks:after {
	content: "\201D";
	margin-left: -20px;
	left: 100%;
	top: auto;
	font-weight: 700;
}

.wp-block-quote.is-style-grigora-quote-quotation-mark-2 {
	position: relative;
	padding: 1rem 1.2rem;
	width: 80%; /* create space for the quotes */
	color: #484748;
	margin: 1rem auto 2rem;

	p{
		display: inline;
		margin-left: 0;
	}

	cite{
		color: #bdbec0;
		margin-left: 1rem;

		&::before{
			content: '\2015';
			margin-right: 1rem;
		}
	}
}

.wp-block-quote.is-style-grigora-quote-quotation-mark-2:after {
	font-family: FontAwesome;
	position: absolute;
	color: #039be5;
	font-size: 4rem;
}
.wp-block-quote.is-style-grigora-quote-quotation-mark-2:before {
	content: none;
}
.wp-block-quote.is-style-grigora-quote-quotation-mark-2:after {
	content: "\201D";
	color: #bdbec0;
	height: 100%;
	margin-left: -30px;
	left: 100%;
	bottom: 60px;
	font-size: 10rem;
	font-weight: 700;
	font-family: 'Verdana', serif;

	@media(max-width:768px){
		margin-left: -65px;
		bottom: 0;
		font-size: 8rem;
	}
}


.wp-block-quote.is-style-grigora-quote-quotation-mark-3 {
	position: relative;
	padding: 1rem 1.2rem;
	width: 80%; /* create space for the quotes */
	color: #484748;
	margin: 1rem auto 2rem;
	border-left: 5px solid #039be5;

	p{
		position: relative;
		display: inline;
		margin-left: 2rem;
	}

	cite{
		position: relative;
		margin-left: 1rem;

		&::before{
			content: '\2015'' ';
		}
	}
}

.wp-block-quote.is-style-grigora-quote-quotation-mark-3:before,
.wp-block-quote.is-style-grigora-quote-quotation-mark-3:after{
	content: none;
}

.wp-block-quote.is-style-grigora-quote-quotation-mark-3 p:before,
.wp-block-quote.is-style-grigora-quote-quotation-mark-3 cite:after {
	font-family: FontAwesome;
	position: absolute;
	color: #039be5;
	font-size: 3rem;
}
.wp-block-quote.is-style-grigora-quote-quotation-mark-3 p:before {
	content: "\201D";
	top: -20px;
	right: 100%;
}
.wp-block-quote.is-style-grigora-quote-quotation-mark-3 cite:after {
	content: "\201C";
	margin-left: 5px;
	top: 10px;
}


.wp-block-quote.is-style-grigora-quote-quotation-mark-4 {
	position: relative;
	padding: 1rem 1.2rem;
	width: 80%; /* create space for the quotes */
	color: #484748;
	margin: 1rem auto 2rem;

	p{
		font-family: 'Abril Fatface', cursive;
		position: relative;
		font-size: 2.8rem;
		font-weight: normal;
		line-height: 1;
		margin: 0;
		border: 2px solid #fff;
		border: solid 2px;
		border-radius: 20px;
		padding: 25px;

		&::after {
			content:"";
			position: absolute;
			border: 2px solid ;
			border-radius: 0 50px 0 0;
			width: 60px;
			height: 60px;
			bottom: -62px;
			left: 50px;
			border-bottom: none;
			border-left: none;
			z-index: 3; 
		}

		&::before {
			content:"";
			position: absolute;
			width: 80px;
			border: 6px solid #fff;
			bottom: -3px;
			left: 50px;
			z-index: 2;
		}
	}

	cite{
		margin-left: 9rem;
		font-size: 1.3rem;
		font-weight: 400;

		&::before{
			content: '\2015'' ';
		}
	}
}

.wp-block-quote.is-style-grigora-quote-quotation-mark-4:before,
.wp-block-quote.is-style-grigora-quote-quotation-mark-4:after {
	font-family: FontAwesome;
	position: absolute;
	color: #039be5;
	font-size: 4rem;
}
.wp-block-quote.is-style-grigora-quote-quotation-mark-4:before {
	content: none;
}
.wp-block-quote.is-style-grigora-quote-quotation-mark-4:after {
	content: none;
}