.wp-block-quote {
	border: none;
	padding-left: 0;
	quotes: initial;
}

.wp-block-quote p,
.wp-block-quote cite {
	margin-left: 4rem;
}

.wp-block-quote cite {
	color: var(--wp--preset--color--primary);
}

.wp-block-quote::before,
.wp-block-quote.has-text-align-right p::before {
	content: "\201C";
	position: absolute;
	font-size: 4rem;
	line-height: 1;
	font-family: "Times New Roman", Times, serif;
	font-weight: 700;
	color: var(--wp--preset--color--primary);
}

.wp-block-quote.has-text-align-center::before,
.wp-block-quote.has-text-align-right::before {
	content: " ";
}

.wp-block-quote.has-text-align-right {
	border: none;
}

.wp-block-quote.has-text-align-right p::before {
	margin-left: -4rem;
}

.wp-block-quote.is-style-grigora-quote-quotation-marks {
	position: relative;
	text-align: center;
	padding: 1rem 1.2rem;
	width: 80%; /* create space for the quotes */
	color: #484748;
	margin: 1rem auto 2rem;
}
.wp-block-quote.is-style-grigora-quote-quotation-marks {
	background: linear-gradient(to right, #039be5 4px, transparent 4px) 0 100%,
		linear-gradient(to left, #039be5 4px, transparent 4px) 100% 0,
		linear-gradient(to bottom, #039be5 4px, transparent 4px) 100% 0,
		linear-gradient(to top, #039be5 4px, transparent 4px) 0 100%;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}
.wp-block-quote.is-style-grigora-quote-quotation-marks:before,
.wp-block-quote.is-style-grigora-quote-quotation-marks:after {
	font-family: FontAwesome;
	position: absolute;
	color: #039be5;
	font-size: 4rem;
}
.wp-block-quote.is-style-grigora-quote-quotation-marks:before {
	content: "\201C";
	top: -12px;
	margin-right: -20px;
	right: 100%;
}
.wp-block-quote.is-style-grigora-quote-quotation-marks:after {
	content: "\201D";
	margin-left: -20px;
	left: 100%;
	top: auto;
	bottom: -20px;
}
