.is-style-grigora-separator-1{
    margin: 1.5em auto;
    position: relative;
    height: 9px;
    width: 9px !important;
    border: transparent;
    overflow: visible;
    background-image: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="4" fill="%231CB0A8" /></svg>');
    
    &:before {
        position: absolute;
        height: 9px;
        width: 10px;
        content: '';
        background-image: url('data:image/svg+xml;utf8,<svg width="10" height="9" viewBox="0 0 10 9" xmlns="http://www.w3.org/2000/svg"><path d="M3.91043 1.29752C4.30449 0.688518 5.19551 0.688519 5.58957 1.29752L9.25143 6.95675C9.68196 7.62211 9.20436 8.5 8.41186 8.5H1.08814C0.29564 8.5 -0.181954 7.62211 0.248574 6.95675L3.91043 1.29752Z" fill="%23FCB643" /></svg>');
        left: -18px;
    }
    
    &:after {
        position: absolute;
        height: 9px;
        width: 9px;
        content: '';
        background-image: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="1" fill="%23EF4056" /></svg>');
        right: -18px;    
    }
}

.is-style-grigora-separator-2 {
    height:30px;
    width:100% !important;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(#369A7E), color-stop(0.49, #369A7E), color-stop(0.51, #fff), to(white));
    -webkit-background-size: 49px 100%;
    border-bottom: none;
}

.is-style-grigora-separator-3 {
    height:30px;
    width:100% !important;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(#369A7E), color-stop(0.49, #369A7E), color-stop(0.51, #fff), to(white));
    -webkit-background-size: 49px 100%;
    border-bottom: none;
}

.is-style-grigora-separator-4 {
    width:100% !important;
    height:100px;
    background: linear-gradient(to right bottom, #823A9C 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
    border-bottom: none;
}

.is-style-grigora-separator-5 {
    width:100% !important;
    height:100px;
    background: linear-gradient(to left bottom, #fff 49%, #823A9C 50%);
    border-bottom: none;
}

.is-style-grigora-separator-6 {
    width: 100% !important;
    height: 1px;
    display: block;
    position: relative;
    margin-bottom: 0em;
    border-bottom: none;
    padding: 2em 0;

    &:after,
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 50%;
        left: 0;
    }

    &:before {
        background: linear-gradient( 90deg, #10111F 0%, #10111F 50%, transparent 50%, transparent 100% );
        background-size: 15px;
        background-position: center;
        z-index: 1;

    }

    &:after {
        transition: opacity 0.3s ease, animation 0.3s ease;
        background: linear-gradient(
            to right, 
            #62efab 5%, 
            #F2EA7D 15%, 
            #F2EA7D 25%, 
            #FF8797 35%, 
            #FF8797 45%, 
            #e1a4f4 55%, 
            #e1a4f4 65%, 
            #82fff4 75%, 
            #82fff4 85%, 
            #62efab 95%);
        background-size: 200%;
        background-position: 0%;
        animation: bar 15s linear infinite;

    }

    @keyframes bar {
        0% { background-position: 0%; }
        100% { background-position: 200%; }
    }
}

.is-style-grigora-separator-7-animated {
    width: 100% !important;
    height: 1px;
    display: block;
    position: relative;
    margin-bottom: 0em;
    border-bottom: none;
    padding: 2em 0;

    &:after,
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 50%;
        left: 0;
    }

    &:before {
        background: linear-gradient( 90deg, #10111F 0%, #10111F 50%, transparent 50%, transparent 100% );
        background-size: 15px;
        background-position: center;
        z-index: 1;

    }

    &:after {
        transition: opacity 0.3s ease, animation 0.3s ease;
        background: linear-gradient(
            to right, 
            #62efab 5%, 
            #F2EA7D 15%, 
            #F2EA7D 25%, 
            #FF8797 35%, 
            #FF8797 45%, 
            #e1a4f4 55%, 
            #e1a4f4 65%, 
            #82fff4 75%, 
            #82fff4 85%, 
            #62efab 95%);
        background-size: 200%;
        background-position: 0%;
        animation: bar 15s linear infinite;

    }

    @keyframes bar {
        0% { background-position: 0%; }
        100% { background-position: 200%; }
    }

    &:before {
        background: linear-gradient( 
            90deg, 
            #10111F 0%, #10111F 5%, 
            transparent 5%, transparent 10%, 
            #10111F 10%, #10111F 15%, 
            transparent 15%, transparent 20%, 
            #10111F 20%, #10111F 25%,
            transparent 25%, transparent 30%,
            #10111F 30%, #10111F 35%, 
            transparent 35%, transparent 40%, 
            #10111F 40%, #10111F 45%, 
            transparent 45%, transparent 50%, 
            #10111F 50%, #10111F 55%,
            transparent 55%, transparent 60%,
            #10111F 60%, #10111F 65%,
            transparent 65%, transparent 70%, 
            #10111F 70%, #10111F 75%, 
            transparent 75%, transparent 80%, 
            #10111F 80%, #10111F 85%,
            transparent 85%, transparent 90%,
            #10111F 90%, #10111F 95%, 
            transparent 95%, transparent 100% );

        background-size: 15px * 10;
        background-position: center;
        z-index: 1;
        
        animation: bar 120s linear infinite;
        
    }
    
    &:hover {
        &:before {
            animation-duration: 20s;
        }
        &:after {
            animation-duration: 2s;
        }
    }

}