<!-- wp:template-part {"slug":"header","tagName":"header","align":"full","className":"site-header","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}, "backgroundColor":"canvas"} -->
<main class="main-body wp-block-group has-canvas-background-color has-background">

	<!-- wp:columns {"align":"wide", "style":{"spacing":{"padding":{"right":"2%","left":"2%"}}}} -->
	<div class="main-container wp-block-columns alignwide" style="padding-right:2%; padding-left:2%;">
		
		<!-- wp:column {"backgroundColor":"background", "width":"70%","style":{"spacing":{"padding":{"top":"3%","right":"3%","bottom":"4%","left":"3%"}}}} -->
		<div class="main-primary wp-block-column has-background-background-color has-background" style="flex-basis:70%; padding-right:3%; padding-left:3%; padding-bottom:4%; padding-top:3%;">
	
			<!-- wp:query-title {"type":"archive","level":2,"className":"is-style-default","fontSize":"large"} /-->
			<!-- wp:term-description /-->
			<!-- wp:spacer {"height":20} -->
			<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->
			<!-- wp:separator {"color":"secondary","className":"is-style-wide"} -->
			<hr class="wp-block-separator has-text-color has-background has-secondary-background-color has-secondary-color is-style-wide" />
			<!-- /wp:separator -->
			<!-- wp:query {"query":{"perPage":5,"pages":0,"offset":0,"postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"layout":{"inherit":true}} -->
			<div class="wp-block-query">
				<!-- wp:post-template -->
				<!-- wp:post-title {"className":"is-style-default","fontSize":"large","isLink":true} /-->
				<!-- wp:post-featured-image /-->
				<!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
				<div class="wp-block-group">
					<!-- wp:post-author {"showAvatar":false} /-->
					<!-- wp:post-date /-->
					<!-- wp:post-terms {"term":"category"} /-->
				</div>
				<!-- /wp:group -->
				<!-- wp:post-excerpt {"showMoreOnNewLine":true, "moreText":"Read More" } /-->
				<!-- wp:spacer {"height":40} -->
				<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
				<!-- /wp:spacer -->
				<!-- wp:separator {"color":"secondary","className":"is-style-wide"} -->
				<hr class="wp-block-separator has-text-color has-background has-secondary-background-color has-secondary-color is-style-wide" />
				<!-- /wp:separator -->
				<!-- /wp:post-template -->
	
				<!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"}} -->
				<!-- wp:query-pagination-previous {"label":"Previous"} /-->
				<!-- wp:query-pagination-numbers /-->
				<!-- wp:query-pagination-next {"label":"Next"} /-->
				<!-- /wp:query-pagination -->
	
			</div><!-- /wp:query -->
	
		</div>
		<!-- /wp:column -->
		<!-- wp:column {"width":"30%"} -->
		<div class="wp-block-column" style="flex-basis:30%">
			<!-- wp:template-part {"slug":"sidebar"} /-->
		</div>
		<!-- /wp:column -->
	
		</div>
		<!-- /wp:columns -->
	
	</main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","style":{"spacing":{"padding":{"top":"2.5em"}}},"className":"site-footer","layout":{"inherit":true}} /-->
	