<!-- wp:template-part {"slug":"header","tagName":"header","align":"full","className":"site-header","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}, "backgroundColor":"canvas"} -->
<main class="main-body wp-block-group has-canvas-background-color has-background">

<!-- wp:columns {"align":"full", "style":{"spacing":{"padding":{"top":"4%","bottom":"4%","right":"2%","left":"2%"}}}} -->
<div class="main-container wp-block-columns alignfull" style="padding-top: 4%; padding-bottom: 4%; padding-right:2%; padding-left:2%; ">
		
		<!-- wp:column {"width":"100%"} -->
		<div class="main-primary wp-block-column" style="flex-basis:100%;">
			<!-- wp:group {"backgroundColor":"background", "style":{"spacing":{"padding":{"top":"3%","right":"3%","bottom":"4%","left":"3%"}}}} -->
			<div class="wp-block-group has-background-background-color has-background" style="padding-right:3%; padding-left:3%; padding-bottom:4%; padding-top:3%;">

			<!-- wp:post-title {"className":"is-style-default","fontSize":"large"} /-->

			<!-- wp:post-featured-image /-->

			<!-- wp:separator {"color":"secondary","className":"is-style-wide"} -->
			<hr class="wp-block-separator has-text-color has-background has-secondary-background-color has-secondary-color is-style-wide" />
			<!-- /wp:separator -->
			<!-- wp:spacer {"height":20} -->
			<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->

			<!-- wp:post-content {"align":"full","layout":{"inherit":false}} /-->

			<!-- wp:spacer {"height":20} -->
			<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->

			</div>
			<!-- /wp:group -->

			<!-- wp:spacer {"height":40} -->
			<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->

			<!-- wp:post-comments {"className":"grigora-comment-box wp-block-group has-background-background-color has-background"} /-->

		</div>
		<!-- /wp:column -->
	
		</div>
		<!-- /wp:columns -->
	
	</main>
	<!-- /wp:group -->
	
<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","style":{"spacing":{"padding":{"top":"2.5em"}}},"className":"site-footer","layout":{"inherit":true}} /-->