<!-- wp:template-part {"slug":"header","tagName":"header","align":"full","className":"site-header","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"inherit":false}, "backgroundColor":"canvas"} -->
<main class="main-body wp-block-group has-canvas-background-color has-background" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">

    <!-- wp:post-content {"align":"full","layout":{"inherit":false}} /-->
    
</main>
<!-- /wp:group -->
        
<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","style":{"spacing":{"padding":{"top":"2.5em"}}},"className":"site-footer margin-top-0","layout":{"inherit":true}} /-->