.grigora-hero{
	margin-top: 0px;
}

.hero-block-2{
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}


.hero-10 {
	.wp-block-columns {
		margin-bottom: 0px;
	}

	.wp-block-image {
		margin-bottom: 0px;
	}

}


.transparent-search {
	background-color: inherit;

	input {
		color: inherit;
		background-color: inherit;
		border: 1px solid currentColor;
	}
	input::placeholder {
		color: inherit;
		opacity: 0.6;
	  }
}