.is-style-transparent-background {
  background-color: var(--wp--custom--small-button-transparent);
}
.is-style-transparent-background input {
  color: inherit;
  background-color: inherit;
  border: 1px solid currentColor;
}
.is-style-transparent-background input::placeholder {
  color: inherit;
  opacity: 0.6;
}