.is-style-grigora-ordered-list-style-2 {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.is-style-grigora-ordered-list-style-2 ol {
  list-style: none;
}
.is-style-grigora-ordered-list-style-2 li {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 0.8em;
  *padding: 0.4em;
  margin: 0.5em 0 0.5em 2.5em;
  background: #ddd;
  color: currentColor;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.is-style-grigora-ordered-list-style-2 li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  color: var(--wp--preset--color--buttontext);
  background: var(--wp--preset--color--button);
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}
.is-style-grigora-ordered-list-style-2 li:after {
  position: absolute;
  content: "";
  border: 0.5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -0.5em;
  transition: all 0.3s ease-out;
}