.is-style-grigora-list-style-3 {
  list-style: none;
}
.is-style-grigora-list-style-3 ol,
.is-style-grigora-list-style-3 ul {
  list-style: none;
}
.is-style-grigora-list-style-3 li::before {
  content: "";
  padding-left: 1.5rem;
  margin: 0.75rem auto;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M8,0A8,8,0,1,1,0,8,8,8,0,0,1,8,0Zm3.67,7.45L7.3,3.08a.77.77,0,0,0-1.09,0h0l-.55.55a.77.77,0,0,0,0,1.09h0L8.94,8,5.66,11.28a.77.77,0,0,0,0,1.09h0l.55.55a.77.77,0,0,0,1.09,0h0l4.37-4.37a.77.77,0,0,0,0-1.09h0Z" fill="LightSeaGreen" opacity="0.8"/></svg>');
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position-x: left;
  background-position-y: center;
}