ul.is-style-grigora-no-marker-list,
ol.is-style-grigora-no-marker-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.is-style-grigora-no-marker-list li ul {
  margin-left: 1em;
}

.is-style-grigora-no-marker-list ul,
.is-style-grigora-no-marker-list ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-style-grigora-no-marker-list ul li ul {
  margin-left: 1em;
}