.is-style-grigora-heading-1 {
  position: relative;
  text-align: center;
  padding-bottom: 5px;
}
.is-style-grigora-heading-1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #b80000;
}
.is-style-grigora-heading-1:after {
  top: auto !important;
  bottom: auto !important;
  right: auto !important;
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  left: 50% !important;
  margin-left: -50px;
  background-color: #b80000;
}