
.is-style-grigora-separator-2 {
	height: 30px;
	width: 100% !important;
	opacity: 1;
	background: -webkit-gradient(
		radial,
		50% 0,
		10,
		50% 0,
		40,
		from(#369a7e),
		color-stop(0.49, #369a7e),
		color-stop(0.51, #fff),
		to(white)
	);
	-webkit-background-size: 49px 100%;
	border-bottom: none;
}

.is-style-grigora-separator-2.has-background {
	height: 30px !important;
}

.is-style-grigora-separator-2 {
	margin-top: 0px;
}
