.is-style-grigora-separator-5 {
	width: 100% !important;
	height: 100px;
	opacity: 1;
	background: linear-gradient(to right bottom, #fff 49%, #823a9c 50%);
	border-bottom: none;
}
.is-style-grigora-separator-5.has-background {
	height: 100px !important;
}