.grigora-testimonial {
    @media (max-width:768px){
        margin-bottom: 1rem;
    }
    
    .wp-block-quote{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;

        p, cite {
            margin-left: 0;
        }

        p{
            color: #fff;
            text-align: center;
            font-style: italic;
            line-height: 1.2;
            font-weight: 500;
        }

        cite {
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
        }

        &::before{
            color: #fff !important;
            font-size: 7rem;
            line-height: 0;
            opacity: .5;
        }
    }
}

.grigora-testimonial-2 {
    @media (max-width:768px){
        margin-bottom: 1rem;
    }

    .wp-block-quote{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;

        p, cite {
            margin-left: 0;
        }

        p{
            color: #9e9e9e;
            text-align: center;
            font-style: italic;
            line-height: 1.2;
        }

        cite {
            color: #3c3c3c;
            text-transform: uppercase;
            font-weight: 500;
        }

        &::before{
            text-align: center;
            transform: translateX(-50%);
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 0 10px #00000040;
            color: #d2652d;
            font-size: 5rem;
            font-style: normal;
            top: -80px;
            left: 50%;
            height: 60px;
            position: absolute;
            width: 60px; 
        }
    }

    .p-3{
        padding: 3rem;
    }

    .mb-0{
        margin-bottom: 0;
    }

    .bt-5{
        border-top: 5px solid #d2652d;
    }

    h2,h3{
        margin: 0;
    }
}

.grigora-testimonial-4 {
    .background-image {
        background-image: linear-gradient(-25deg, #00000033 0%, #ffffff1a 100%);

        @media (max-width:768px){
            margin-bottom: 1rem;
        }
    }


    h2, h4{
         margin: 0;
    }

    h4{
        color: #a6a6a6 !important;
    }

    img{
        border-radius: 50% !important;
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

   .wp-block-quote{
       padding: 1rem;
       margin: 1rem 0 0 0;
       background-color: #fff;
       border-radius: 5px;

       p{
           color: #000;
           margin-top: 2rem;
           margin-bottom: 2rem;
           margin-left: 2rem;
       }

       &::before{
           top: 7px;
           color: #000 !important;
           opacity: .25;
       }
   }
}


.grigora-testimonial-5 {
  
    h5{
         margin: 0;

         @media(max-width:768px){
            text-align: center;
        }
    }

    img{
        border-radius: 50% !important;
        width: 122px;
        height: 122px;
        object-fit: cover;
    }

    .img-center{
        text-align: center;
    }

   .wp-block-quote{
       padding: 1rem;
       margin: 0 0 1rem 0;
       background-color: #fff;
       border-radius: 5px;

       p{
           color: #000;
           margin:2rem;
       }

       &::before{
           top: 7px;
           color: #000 !important;
           opacity: .25;
       }

       &::after{
            content: "\201D";
            position: absolute;
            left: 100%;
            font-size: 4rem;
            line-height: 1;
            font-family: "Times New Roman", Times, serif;
            font-weight: 700;
            color: #000 !important;
            opacity: .25;
            margin-left: -50px;
            bottom: -20px;
       }

       .wp-block-quote.is-style-grigora-quote-quotation-marks{
           background: none;
       }
   }

   .mb-1{
       margin-bottom: 1rem;
   }
}