<!-- wp:group {"align":"full","layout":{"inherit":false}} -->
<div class="wp-block-group alignfull">
	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"6%","right":"6%","bottom":"6%","left":"6%"}}},"backgroundColor":"background","textColor":"foreground","layout":{"inherit":false}} -->
	<div
		class="wp-block-group alignfull has-foreground-color has-background-background-color has-text-color has-background"
		style="
			padding-top: 6%;
			padding-right: 6%;
			padding-bottom: 6%;
			padding-left: 6%;
		"
	>
		<!-- wp:columns {"verticalAlignment":"center"} -->
		<div class="wp-block-columns are-vertically-aligned-center">
			<!-- wp:column {"verticalAlignment":"center","width":"40%"} -->
			<div
				class="wp-block-column is-vertically-aligned-center"
				style="flex-basis: 40%"
			>
				<!-- wp:site-title {"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}},"textColor":"button","className":"is-style-no-underline","fontSize":"large"} /-->

				<!-- wp:site-tagline {"fontSize":"extra-small"} /-->
			</div>
			<!-- /wp:column -->

			<!-- wp:column -->
			<div class="wp-block-column"></div>
			<!-- /wp:column -->

			<!-- wp:column {"verticalAlignment":"center","width":"15%"} -->
			<div
				class="wp-block-column is-vertically-aligned-center"
				style="flex-basis: 15%"
			>
				<!-- wp:list {"style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"className":"is-style-no-marker-no-underline-hovereffect","fontSize":"extra-small"} -->
				<ul
					class="is-style-no-marker-no-underline-hovereffect has-link-color has-extra-small-font-size"
					style="font-style: normal; font-weight: 500"
				>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Advertise</a></li>
					<li><a href="#">Careers</a></li>
				</ul>
				<!-- /wp:list -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"verticalAlignment":"center","width":"15%"} -->
			<div
				class="wp-block-column is-vertically-aligned-center"
				style="flex-basis: 15%"
			>
				<!-- wp:list {"style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"className":"is-style-no-marker-no-underline-hovereffect","fontSize":"extra-small"} -->
				<ul
					class="is-style-no-marker-no-underline-hovereffect has-link-color has-extra-small-font-size"
					style="font-style: normal; font-weight: 500"
				>
					<li><a href="#">News</a></li>
					<li><a href="#">Trending</a></li>
					<li><a href="#">Viral</a></li>
					<li><a href="#">Videos</a></li>
				</ul>
				<!-- /wp:list -->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->
