input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
select {
	color: var(--wp--preset--color--foreground);
    padding: 0.75em;
    height: auto;
    border: 1px solid var(--wp--preset--color--foreground);
    border-radius: 2px;
    box-shadow: none;
    transition: all .2s linear;
    max-width: 100%;
}

textarea {
	width: 100%;
}