.wp-block-quote.is-style-grigora-quote-quotation-mark-2 {
	position: relative;
	padding: 1rem 1.2rem;
	width: 80%; /* create space for the quotes */
	color: #484748;
	margin: 1rem auto 2rem;

	p{
		display: inline;
		margin-left: 0;
	}

	cite{
		color: #bdbec0;
		margin-left: 1rem;

		&::before{
			content: '\2015';
			margin-right: 1rem;
		}
	}
}

.wp-block-quote.is-style-grigora-quote-quotation-mark-2:after {
	font-family: FontAwesome;
	position: absolute;
	color: #039be5;
	font-size: 4rem;
}
.wp-block-quote.is-style-grigora-quote-quotation-mark-2:before {
	content: none;
}
.wp-block-quote.is-style-grigora-quote-quotation-mark-2:after {
	content: "\201D";
	color: #bdbec0;
	height: 100%;
	margin-left: -30px;
	left: 100%;
	bottom: 60px;
	font-size: 10rem;
	font-weight: 700;
	font-family: 'Verdana', serif;

	@media(max-width:768px){
		margin-left: -65px;
		bottom: 0;
		font-size: 8rem;
	}
}